<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
      <svg class="icon collapsible__chevron">
        <use xlink:href="images/spritedown.svg#down-chevron"></use>
      </svg>
      </span>
    </header>
    <div class="collapsible__content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam
      assumenda officia odit architecto sint suscipit.
    </div>
  </div>
  <script src="js/main.js"></script>